{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h2>Contact Us</h2  >
            <p>
            <br>
            The Remote Grind is gearing up for a soft launch, starting with locations in Costa Mesa, CA. <br><br>
            We'd love to hear your ideas and advice as we curate a collection of exceptional workspaces. <br><br>
            Share your thoughts with us!
            </p>
        </div>
    </div>
  
    {{ wtf.quick_form(form) }}
{% endblock %}