{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='images/exampleshop.webp') }}" alt="coffee shop" class="img-fluid">
                <p class="text-center">
                    <br>
                    Welcome to <span style="color: #4B92FB;">The Remote Grind</span>, your go-to platform for discovering the perfect places to work remotely — positive energy and productivity guaranteed.<br><br>
                    Environment is everything for us remote professionals, and who says “wfh” has to mean working from home? 
                    That’s why we’ve curated a collection of spaces designed to foster community, ignite inspiration, and power your workdays. <br><br>
                    With us, it’s simple — enjoy the grind, leave the rest behind.
                </p>
            </div>
        </div>
    </div>

    {{ wtf.quick_form(form) }}
{% endblock %}